---
import type * as interfaces from 'lib/interfaces'
import { getPostByPageId } from 'lib/notion/client'
import { getPostLink } from 'lib/blog-helpers'
import 'styles/notion-color.css'

export interface Props {
  block: interfaces.Block | any
}

const { block } = Astro.props
let post: interfaces.Post | any = null
if (block.LinkToPage.Type === 'page_id') {
  post = await getPostByPageId(block.LinkToPage.PageId)
}
---

{
  post ? (
    <p>
      <a href={`${getPostLink(post.Slug)}`} class="font-semibold flex gap-1">
        <span class="h-fit flex-shrink-0 relative">
          {post.Icon.Emoji ? post.Icon.Emoji : '📄'}
          <img
            src="/images/icon-arrow-link.svg"
            class="block absolute top-[1em] right-0 w-2 h-2"
            alt=""
          />
        </span>
        <span class="text">{post.Title}</span>
      </a>
    </p>
  ) : (
    <p>
      <a class="link">
        <span class="h-fit flex-shrink-0 relative">
          🚫
          <img
            src="/images/icon-arrow-link.svg"
            class="block absolute top-[1em] right-0 w-2 h-2"
            alt=""
          />
        </span>
        <span class="text">Post not found</span>
      </a>
    </p>
  )
}
