---
import type * as interfaces from 'lib/interfaces'
import { snakeToKebab } from 'lib/style-helpers'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: interfaces.Block | any
  headings: interfaces.Block[]
}

const { block, headings } = Astro.props
---

<details class={`p-[0.4rem] ${snakeToKebab(block.Toggle.Color)}`}>
  <summary class="cursor-pointer">
    {
      block.Toggle.RichTexts.map((richText: interfaces.RichText) => (
        <RichText richText={richText} />
      ))
    }
  </summary>
  <div class="ml-[1em]">
    <NotionBlocks blocks={block.Toggle.Children} headings={headings} />
  </div>
</details>

<style>
  .toggle > summary > a {
    display: inline;
  }
</style>
