---
import type { RichText } from 'lib/interfaces'

export interface Props {
  richText: RichText
}

const { richText } = Astro.props
---

{
  /* prettier-ignore */
  richText.Href ? (
    <a class="underline text-[#7a7975] dark:text-[#9c9c9c]" href={richText.Href}><slot /></a>
  ) : (
    <slot />
  )
}
