@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;600;700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Sogoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Sogoe UI Emoji', 'Sogoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
