---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="container">
    <main>
      <h2 class="text-7xl text-blue-50">Welcome!</h2>
      <p>Your astro-notion-blog deployed successfully!</p>
      <p>Have fun!</p>
    </main>
  </div>
</Layout>
