---
import type { Post } from 'lib/interfaces'
import { getPostLink } from 'lib/blog-helpers'

export interface Props {
  post: Post | any
  enableLink?: boolean
}

const { post, enableLink = true } = Astro.props

let title = post.Title
if (post.Icon.Emoji) {
  title = `${post.Icon.Emoji} ${title}`
}
---

<h3 class="mt-3 mb-1 text-xl font-bold font-mplus">
  {enableLink ? <a href={getPostLink(post.Slug)}>{title}</a> : title}
</h3>
