---
import type { Block } from 'lib/interfaces'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
}

const { blocks } = Astro.props
---

<div class="py-2 px-0">
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>
